<!DOCTYPE html>
<head>

</head>
<body>
    <form method="post" name="loginForm">
        <p>
            <label for="lUN">email</label>
            <input type="text" name="Lemail" required>
        </p>
        <p>
            <label for="lPass">Password</label>
            <input type="password" name="lPass" required>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
        <p>
            <input type="button" value="Go back!" onclick="history.back()">
        </p>

    </form>
</body>
