<!DOCTYPE html>
<head>

</head>
<body>
    <form method="post" name="registrationForm">
        <p>
            <label for="username">Coach Name</label>
            <input type="text" name="txtName" required>
        </p>
        <p>
            <label for="username">Coach Surname</label>
            <input type="text" name="txtSurname" required>
        </p>
        <p>
            <label for="pswd">Password </label>
            <input type="password" name="txtPswd" required>
        </p>
        <p>
            <label for="username">Coach email</label>
            <input type="text" name="txtEmail" required>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
        <p>
            <input type="button" value="Go back!" onclick="history.back()">
        </p>

        {% if not session['register'] %}
            <p>Username Taken, Please Try Again</p>
        {% endif %}
    </form>
</body>
