body {
    justify-content: center;
    align-items: center;
    background-image: url("../static/image.jpg"); 
    background-size: cover;
    color: #f5f6f7;
    font-family: 'Tahoma';
    font-size: 16px;
    font-weight: bold;
}
.rating_container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.content_5_star_inner{
	border: solid 1px green;
	background-color: green;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
    width: 0%;
}
.content_5_star_outer{
	/*border: solid 1px grey;*/
	background-color: lightgrey;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
}
.content_4_star_inner{
	border: solid 1px green;
	background-color: green;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
    width: 0%;
}
.content_4_star_outer{
	/*border: solid 1px grey;*/
	background-color: lightgrey;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
}
.content_3_star_inner{
	border: solid 1px green;
	background-color: green;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
    width: 0%;
}
.content_3_star_outer{
	/*border: solid 1px grey;*/
	background-color: lightgrey;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
}
.content_2_star_inner{
	border: solid 1px green;
	background-color: green;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
    width: 0%;
}
.content_2_star_outer{
	/*border: solid 1px grey;*/
	background-color: lightgrey;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
}
.content_1_star_inner{
	border: solid 1px green;
	background-color: green;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
    width: 0%;
}
.content_1_star_outer{
	/*border: solid 1px grey;*/
	background-color: lightgrey;
	color: transparent;
	font-size: 5px;
	border-radius: 5px;
}