
body{
    background-image: url('image.jpg');     
    background-size: cover;
   
}
h1 {
    font-size: 100px;
    font-weight: 600;
    background: rgb(255, 255, 255);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

button.margin-right {
  margin-right: 20px;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 14px 40px; /* size  */ 
  border-radius: 8px;
  transition-duration: 0.4s;

}
button.margin-right:hover{
  background-color: #fffdfd; 
  color: rgb(5, 5, 5);
}

button.magenta{
  margin-right: 20px;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 14px 40px; /* size  */ 
  border-radius: 8px;
  transition-duration: 0.4s;

}
button.magenta:hover{
  background-color: #fffdfd; 
  color: rgb(5, 5, 5);
}


